<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codepath.videotabletest">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pinpoint"
        android:logo="@mipmap/ic_logo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.VideoPlayerActivity" android:theme="@style/AppTheme.ActionBar.Transparent"/>/>

        <activity android:name=".activities.EditActivityPhoto"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activities.AddingTagsActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"/>
        <activity android:name=".activities.EditActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".RecognitionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Recognizing"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
        </activity>
        <activity android:name=".activities.ImagePlayerActivity" android:theme="@style/AppTheme.ActionBar.Transparent"/>/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activities.GalleryActivity"></activity>

    </application>

</manifest>